{% extends 'base.html.twig' %}

{% block title %}Библиотека АртВизио{% endblock %}

{% block body %}
  {% if books %}
    <h1>Список книг</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Название</th>
          <th>Автор</th>
          <th>Год</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>
              <a href="/book/edit/{{ book.id }}"
                 class="btn btn-dark">Редактировать</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>В библиотеке нет книг.</p>
  {% endif %}
{% endblock %}
